header{
    background:  #2B4A61;
    margin-bottom: 39px;
    margin-top: 39px;
    background-image: url(./logo.png) ;
    padding-top: 20px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
}
ul,
h1,
h2,
p,
a,
li{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
}
.links{
    display: flex;
    align-items: center;

}
.item-list{
    display: flex;
    margin-right: auto;
    margin-left: auto;
   
}
.pages{
    display: flex;
    
}
html{
height: 740px;
width: 1440px;
background-image:url(./background.1.jpg);
background-repeat: no-repeat;

}
input[type="checkbox"] 
  {
    display: none;
  }
  
  label {
    margin-right: 15px;
    margin-left: 15px;
    display: inline-block;
    width: 40px;
    height: 20px;
    position: absolute;
width: 36px;
height: 20px;
left: 1325px;
top: 65px;
border: 1px solid #FFFFFF;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
  

  }
  
  input[type="checkbox"]:checked + label {
  
    box-sizing: border-box;

position: absolute;
width: 36px;
height: 20px;
left: 1325px;
top: 65px;

border: 1px solid #FFFFFF;
border-radius: 10px;
  }
  .button{
    font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
    background-color:#0B0E66;
    border: 2px solid #26C7EA;
    color:#26C7EA ;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 35px 0px;
    width: 141px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .button:hover {
    background-color: #0B0E66;
  }

  .nav-link-2{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: justify;

color: #94CFFF;

  }
.nav-link{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
padding-left: 40px;
color: #FFFFFF;

}
.buttons-switch{
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
  color: #FFFFFF;
}
.section{
  width: 1140px;
}
.text{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: start;
display: block;

color: #FFFFFF;

}
  