header{
  display: flex;
    background:  #2B4A61;
    margin-bottom: 39px;
    margin-top: 39px;
    background-image: url(./images/logo.png) ;
    padding-top: 20px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
}
ul,
h1,
h2,
p,
a,
li{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
}
.links{
    display: flex;
    align-items: center;

}
.item-list{
    display: flex;
    margin-right: auto;
    margin-left: auto;
   
}
.pages{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    
}
html{
height: 740px;
width: 1440px;
background-image:url(./images/background.1.jpg);
background-repeat: no-repeat;

}

.switch {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {

  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 17px; /* Заокруглені кути для овальної форми */
  overflow: hidden; /* Захист від виходу за межі елементу */
}

.slider {
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 17px; /* Заокруглені кути для овальної форми */
}

.slider:before {
  content: "";
  height: 13px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%; /* Заокруглені кути для овальної форми */
}

/* Решта стилів залишаються незмінними */
  .button{
    font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
    background-color:#0B0E66;
    border: 2px solid #26C7EA;
    color:#26C7EA ;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 35px 0px;
    width: 141px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .button:hover {
    background-color: #0B0E66;
  }

  .nav-link-2{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: justify;

color: #94CFFF;

  }
.nav-link{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
padding-left: 40px;
color: #FFFFFF;

}
.buttons-switch{
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
  color: #FFFFFF;
}

.text{

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: start;
display: block;

color: #FFFFFF;

}
.join{
  font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
text-align: center;
  margin-bottom:179px;
  margin-top: 43px;
  width: 260px;
height: 80px;
left: 204px;
top: 631px;
}
.icons{
  display: block;
}
.instagram-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(./images/instagram.png); 
  background-size: cover;
}

.twitter-icon{
display: inline-block;
width: 30px;
height: 30px;
background-image: url(./images/twitter.png); 
background-size: cover;}

.youtube-icon{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(./images/youtube.png); 
  background-size: cover;
}
.interval{
width: 1440px;
height: 350px;
left: 0px;
top: 890px;

background: #FFFFFF;
}
h1{
  margin-left: auto;
  margin-right: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
text-align: justify;

color: #0A3853;

}
.auhtor{
width: 151px;
height: 29px;
left: 645px;
top: 1073px;
font-family: 'Inter';
font-style: normal;
font-size: 24px;
line-height: 29px;
margin-left: auto;
margin-right: auto;

color: #000000;

}
.image{
  width: 400px;
  height: 120px;
  left: 520px;
  top: 1230px;}

  .container{
    width: 1030px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .watch{
width: 221px;
height: 30px;
left: 609px;
top: 1595px;
font-weight: 400;
font-size: 24px;
line-height: 30px;
box-sizing: border-box;
width: 260px;
height: 80px;
left: 590px;
top: 1570px;
border-radius: 45px 0px;
}
.trailer{
  background-image: url(./images/logo.png) ;
}
.interval-2{
  display: flex;
}
.language{
width: 285px;
height: 40px;
font-family: 'HeadlandOne';
font-weight: 400;
font-size: 32px;
line-height: 40px;
text-align: justify;
color: #141414;
}

.words{
display: flex;
width: 320px;
height: 240px;
left: 204px;
top: 2474px;

background: rgba(255, 255, 255, 0.7);}

.interval-3
{
width: 1438px;
height: 350px;
left: 0px;
top: 3035px;

background: #FFFFFF;}
h2{
  width: 812px;
height: 44px;
left: 340px;
top: 3158px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
text-align: justify;

color: #141414;
}
.image{
position: absolute;
width: 400px;
height: 120px;
left: 519px;
top: 3375px;
}
.footer
{position: absolute;
width: 1440px;
height: 223px;
left: 0px;
top: 3385px;
background: rgba(43, 74, 97, 0.87);
background-image: url(./images/logo.png);
background-repeat: no-repeat;

}
.e-mail
{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: justify;

color: #FFFFFF;
  display: block;
  width: 269px;
  height: 0px;
  left: 674px;
  top: 3477px;
  
  border: 2px dashed #FFFFFF;
}